@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-title {
    @apply font-title font-bold text-heading text-left text-[30px] leading-[40px] md:leading-[60px] md:text-[48px] lg:leading-[60px] mb-5 lg:mb-1;
  }

  .section-description {
    @apply font-normal text-lg leading-[28px] text-base;
  }
}

.gradient-color {
  background: linear-gradient(
    180deg,
    #f9f9f9 -0.53%,
    rgba(249, 249, 249, 0) 83.28%
  );
}

.swiper-pagination-bullet {
  background: #e3e3e3;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background: #040404 !important;
  width: 16px !important;
  height: 16px !important;
}

.swiper-pagination {
  bottom: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
